{% extends "base.html" %}

{% block content %}
{% if config.title %}
<header>
    <h1>{{ config.title }}</h1>
    {{ config.description }}
</header>
{% endif %}

<section>
    {% block content_title %}
    <h2>Articles: </h2>
    {% endblock content_title %}
    <ul>
        {% for page in section.pages %}
        <li>
            <article>
                <header>
                    <h3>
                        <a href="{{ page.permalink }}">{{ page.title }}</a>
                    </h3>
                    <div>
                        <span>{{ page.reading_time }} minutes read. </span>
                        <span>
                            Published: <time>{{ page.date }}</time>
                        </span>
                    </div>
                </header>
                {{ page.summary | safe }}
            </article>
        </li>

        {% endfor %}
    </ul>
</section>


{% endblock content %}
